@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryColor:  rgb(28, 28, 50); 
$fourthColor:  rgb(33, 33, 84); 
$secondaryColor: rgb(63, 63, 117); 
$accentColor: #005eff; 
$thirdColor: #15172c; 
$secondAccent: rgb(33, 42, 56); 
$preloaderColor: #352c5a;   
@mixin global {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@mixin KFInvalidHover {

    @keyframes invalidHover {
        0% {
            transform: translateY(0px)
        }
        25% {
            transform: translateY(-2px)
        }
        50% {
            transform: translateY(2px)
        }
        75% {
            transform: translateY(-2px)
        }
        100% {
            transform: translateY(2px)
        }
    }
}
