@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primaryColor:  rgb(28, 28, 50); 
$fourthColor:  rgb(33, 33, 84); 
$secondaryColor: rgb(63, 63, 117); 
$accentColor: #005eff; 
$thirdColor: #2f3148; 
$secondAccent: #494b6e; 

@mixin global {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

