@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #15172c;
}

.userMenu {
  display: none;
  position: absolute;
  top: 10%;
  width: 100%;
  background: #141438;
  height: 35vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.2vh;
  font-weight: bold;
}

.userMenu button {
  background-color: white;
  padding: .5vw;
  border-radius: 5px;
  transition: all .2s;
  margin: 1rem;
  color: black;
}

.userMenu button:hover {
  background: black;
  color: white;
}

.dashboardCont {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerCont {
  background: #212154;
  display: flex;
  gap: 1rem;
  height: 5vh;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.headerCont h1 {
  color: white;
  padding: .5rem;
}

.headerCont i {
  margin-left: auto;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.welcomeText {
  color: white;
  text-align: center;
  font-size: 2.2vh;
  font-weight: bold;
}

.heroBtnCont {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.heroBtnCont a {
  background: #005eff;
  padding: 1.5vh;
  font-size: 2.2vh;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.562);
  transition: all .25s;
}

.heroBtnCont a:hover {
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.801);
  transform: translateY(-10px);
  background: #1c1c32;
}

.quickTodoCont {
  height: 85vh;
  width: 90vw;
  background: #212154;
  border-radius: 8px;
}

.quickTodoCont h1 {
  text-align: center;
  color: white;
  font-size: 2.2vh;
}

.quickTodoCont .inputCont {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 8%;
  gap: 1vw;
  padding: .5vw;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.233);
}

.quickTodoCont .inputCont:invalid button {
  background: #1c1c32;
}

.quickTodoCont .inputCont:invalid button:hover {
  animation: invalidHover .3s running ease-in-out;
}

.quickTodoCont .inputCont:valid button:hover {
  transform: translateY(-5px);
}

.quickTodoCont .inputCont input {
  width: 85%;
  background: #1c1c32;
  color: white;
  margin: .3vw;
  padding: .3vw;
  font-weight: bold;
}

.quickTodoCont .inputCont button {
  width: 15%;
  background: #005eff;
  color: white;
  font-weight: bold;
  transition: all .2s;
  margin: .3vw;
  padding: .3vw;
}

.todoCont {
  height: 71.5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  overflow-x: hidden;
}

.todoCont .todo {
  background: #141438;
  width: 98%;
  padding: 2.2vh;
  text-align: left;
  border-radius: 10px;
}

.todoCont .todo:hover {
  text-decoration: line-through;
  background: black;
  cursor: pointer;
}

.todoPreloader {
  background: #1c1c32 url(../images/colpreloader.gif) no-repeat center center;
  background-size: 3vh;
  height: 72.2%;
  width: 90%;
  position: absolute;
}

@keyframes invalidHover {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}
