@import './variablesMixins';

* {
    @include global; 
    button {
        cursor: pointer; 
    }
}

body {
    overflow: hidden;
}
.todoList {
    height: 100vh; 
    width: 100%; 
    position: fixed; 
    // background: $fourthColor; 
    display: none; 
    .removeColCont {
        position: absolute; 
        bottom: 1%; 
        left: 5%; 
        button {
            width: 100%; 
            background: $primaryColor;
            color: white; 
            font-weight: bold; 
            transition: all .2s; 
            padding: 1.2vh; 
            margin: .3vw; 
            border: none;
            transition: all .2s; 
            cursor: pointer; 
            &:hover {
                transform: translateY(-8px); 
                background: $accentColor; 
            }
        }
    }
    h1 {
        text-align: center;
        color: white; 
        font-size: 2.2vh;
    }
    .todoHeader {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        h1 {
            font-size: 2.5vh;
        }
        a {
            font-size: 2.5vh;
            cursor: pointer; 
            color: white; 
        }
    }
    .sharedKeyTitle {
        color: white; 
        font-size: 2.2vh;
    }
    .todoInputCont {
        height: 10vh; 
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.233);
        display: flex; 
        align-items: center;
        justify-content: center;
        gap: 2vw; 
        &:invalid {
            button {
                background: $primaryColor; 
                &:hover {
                    animation: invalidHover .3s running ease-in-out; 
                }
            }
        }
        &:valid {
            button {
                &:hover {
                transform: translateY(-5px); 
                }
            }
        }

        input {
            width: 85%; 
            height: 50%; 
            background: $primaryColor; 
            border: none; 
            outline: none;
            color: white; 
            font-weight: bold; 
            padding: .3vw; 
            margin: .3vw; 
        }
        button {
            width: 15%; 
            background: $accentColor;
            color: white; 
            font-weight: bold; 
            transition: all .2s; 
            // margin: .3vw; 
            padding: 1.2vw; 
            margin: .3vw; 
            border: none; 
            
        }
    }
}

.todoCont {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    height: 100%; 
    gap: 1vh;
    .todo {
        color: white; 
        background: rgb(20, 20, 56); 
        width: 98%; 
        padding: 2.2vh; 
        text-align: left;
        border-radius: 10px; 
        cursor: pointer;
        &:hover {
            text-decoration:line-through .3vh white;
        }
        .created {
            font-size: 1.3vh;
        }
    }   
}

.createColMenu {
    height: 100Vh; 
    display: none; //? make flex when activation
    flex-direction: column  ;
    width: 100%; 
    position: fixed; 
    align-items: center;
    justify-content: center;
    gap: 5vh;
    background: $fourthColor; 
    color: white; 
    a {
        font-size: 2.5vh;
    }
    
    form {
        display: flex; 
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        &:invalid {
            button {
                background: $primaryColor; 
                &:hover {
                    animation: invalidHover .3s running ease-in-out; 
                }
            }
        }
        &:valid {
            button {
                &:hover {
                transform: translateY(-5px); 
                }
            }
        }
        label {
            font-weight: bold; 
        }
        input {
            padding: 2vh 1vw; 
            font-size: 2.5vh;
            border: none; 
            outline: none; 
            background-color: $primaryColor;
            color: white;
            font-weight: bold; 
            box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.322);
        }
        button {
            border: none; 
            outline: none; 
            color: white; 
            padding: 2vh; 
            font-size: 2.2vh;
            background: $accentColor; 
            transition: all .2s; 
        }
        .colorSelect {
            span {
                padding: 2vh;
                cursor: pointer; 
                transition: all .3s; 
                &:hover {
                    transform: translateY(-10px); 
                }
            }
        }

    }
}
// todo: create my own sass animation library with @include: 
// @keyframes invalidHover {
//     0% {
//         transform: translateY(0px)
//     }
//     25% {
//         transform: translateY(-2px)
//     }
//     50% {
//         transform: translateY(2px)
//     }
//     75% {
//         transform: translateY(-2px)
//     }
//     100% {
//         transform: translateY(2px)
//     }
// }
@include KFInvalidHover; // Todo: 


.createSharedCol {
    height: 100Vh; 
    display: none; //? make flex when activation
    flex-direction: column  ;
    width: 100%; 
    position: fixed; 
    align-items: center;
    justify-content: center;
    gap: 5vh;
    background: $fourthColor; 
    color: white; 
    i {
        font-size: 2.5vh;
    }
    
    form {
        display: flex; 
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        &:invalid {
            button {
                background: $primaryColor; 
                &:hover {
                    animation: invalidHover .3s running ease-in-out; 
                }
            }
        }
        &:valid {
            button {
                &:hover {
                transform: translateY(-5px); 
                }
            }
        }
        label {
            font-weight: bold; 
        }
        input {
            padding: 2vh 1vw; 
            font-size: 2.5vh;
            border: none; 
            outline: none; 
            background-color: $primaryColor;
            color: white;
            font-weight: bold; 
            box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.322);
        }
        button {
            border: none; 
            outline: none; 
            color: white; 
            padding: 2vh; 
            font-size: 2.2vh;
            background: $accentColor; 
            transition: all .2s; 
        }

    }
}

.choiceMenu {
    position: fixed; 
    height: 100vh; 
    width: 100%; 
    background: $fourthColor; 
    color: white; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 5vh;
    i {
        font-size: 10vh;
    }
}

.navMenu {
    position: absolute; 
    top: 0%; 
    height: 100vh; 
    width: 100%; 
    background: $fourthColor; 
    display: none; 
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    i {
        font-size: 2.5vh;
    }
    .navCont {
        display: flex; 
        flex-direction: column;
        gap: 1vh;
        button {
            padding: 1.5vh;
            background: $accentColor;
            border: none; 
            color: white; 
            font-weight: bold; 
        }
    }
}

// site styles
.headerCont {
    background: $fourthColor; 
    display: flex; 
    gap: 1rem;
    height: 5vh;
    width: 100%; 
    align-items: center;
    overflow: hidden;
    h1 {
        color: white; 
        padding: .5rem;
        font-size: 2vh;
        margin-right: auto; 
    }
    i {
        color: white; 
        padding: 1rem;
        cursor: pointer; 
        font-size: 2vh;
    }
}


.colsSection {
    background: rgb(242, 242, 226); 
    color: black; 
    height: 100vh;
    .privColHeader {
        display: flex;

        h1 {
            margin-right: auto; 
        }
        button {
            background: $accentColor; 
            color: white; 
            font-weight: bold;
            font-size: 2vh;
            padding: 1vh;
            border: none; 
        }
    }
    .collectionsCont {
        height: 50%; 
        display: flex; 
        flex-direction: column;
        overflow-y: scroll;
        h1 {
            height: 8vh;
            display: flex; 
            align-items: center;
            margin: 1vh;
            padding: 1vh;
            color: white; 
            cursor: pointer; 
            background: $primaryColor;
        }
    }
        .pubColHeader {
            display: flex;
    
            h1 {
                margin-right: auto; 
            }
            button {
                background: $accentColor; 
                color: white; 
                font-weight: bold;
                font-size: 2vh;
                padding: 1vh;
                border: none; 
            }
        }
        .sharedColCont {
            height: 50%; 
            display: flex; 
            flex-direction: column;
            overflow-y: scroll;
            h1 {
                height: 8vh;
                display: flex; 
                align-items: center;
                margin: 1vh;
                padding: 1vh;
                color: white; 
                cursor: pointer; 
            }
        
    }
}

.defaultCol {
    background: $primaryColor; 
}
//? user custom collection folders
.tealCol {
    background: rgb(30, 149, 188) !important; 
}
.burgandyCol {
    background: rgb(143, 36, 36) !important;    
}
.slateGrayCol {
    background: darkslategray !important; 
}
.seaGreenCol {
    background: seagreen !important; 
}
.mauveCol {
    background: #874c62 !important;
}
.roseGoldCol {
    background: #f6cfca !important; 
}


.createSharedCol {
    form {
        display: flex; 
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        &:invalid {
            button {
                background: $primaryColor; 
                &:hover {
                    animation: invalidHover .3s running ease-in-out; 
                }
            }
        }
        &:valid {
            button {
                &:hover {
                transform: translateY(-5px); 
                }
            }
        }
        label {
            font-weight: bold; 
        }
        input {
            padding: 2vh 1vw; 
            font-size: 2.5vh;
            border: none; 
            outline: none; 
            background-color: $primaryColor;
            color: white;
            font-weight: bold; 
            box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.322);
        }
        button {
            border: none; 
            outline: none; 
            color: white; 
            padding: 2vh; 
            font-size: 2.2vh;
            background: $accentColor; 
            transition: all .2s; 
        }
        .colorSelect {
            span {
                padding: 2vh;
                cursor: pointer; 
                transition: all .3s; 
                &:hover {
                    transform: translateY(-10px); 
                }
            }
        }

    }
}

.sharedtealCol {
    background: rgb(30, 149, 188) !important; 
}
.sharedburgandyCol {
    background: rgb(143, 36, 36) !important;    
}
.sharedslateGrayCol {
    background: darkslategray !important; 
}
.sharedseaGreenCol {
    background: seagreen !important; 
}
.sharedmauveCol {
    background: #874c62 !important;
}
.sharedroseGoldCol {
    background: #f6cfca !important; 
}

.notSelected {
    background: gray; 
}

.seltealCol {
    background: rgb(30, 149, 188) !important; 
}
.selburgandyCol {
    background: rgb(143, 36, 36) !important;    
}
.selslateGrayCol {
    background: darkslategray !important; 
}
.selseaGreenCol {
    background: seagreen !important; 
}
.selmauveCol {
    background: #874c62 !important;
}
.selroseGoldCol {
    background: #f6cfca !important; 
}
